h2{
    color: burlywood;
}
h3{
    color:burlywood;
}

h1{
    text-align: center;
    color: #2c3e50;
}
p{
    text-align: left;
}

strong{
    color: rgb(241, 4, 4);
}

*{
    margin: auto;
}

nav{
    margin: 200px;
   background-color:rgb(255, 255, 255);

}
body{
    background-color: #f4f4f9;
}