h2{
    color: burlywood;
}
h3{
    color:burlywood;
}

h1{
    text-align: center;
    color: #2c3e50;
}
p{
    text-align: left;
}

strong{
    color: rgb(241, 4, 4);
}

*{
    margin: auto;
}

nav{
    margin: 200px;
    background-color:rgb(255, 255, 255);
    height: 250%;
    width: 400px;
    border-radius: 30px;
    padding: 30px;


}
body{
    background-color: #f4f4f9;
    width: 300%;
    height: 150%;
}