nav{
    background-color: #c5b8b8;
    height: 100%;
    width: 400px;
    border-radius: 30px;
    display: block;
    margin: 200px;
    padding: 20px;
    background-image: url("luna.jpg");

}
h2{
    text-align: center;
    padding-top: 5px;
    color: white;
    
}
.usu{
    display: block;
    margin: 0 auto;
    width: 50%;
    padding: 10px;
    color: white;
}
.contra{
    display: block;
    margin: 0 auto;
    width: 50%;
    padding: 10px;
    color: white;
    
}

.tiregis{
    text-align: center;
    color:white
}

.nombre{
    color:white
}
.nombre2{color:white}